DELIMITER ;

DROP PROCEDURE IF EXISTS safe_rsu;
DROP FUNCTION IF EXISTS get_recv_queue;
DROP FUNCTION IF EXISTS get_num_active_transactions;

DELIMITER //

CREATE FUNCTION get_recv_queue() RETURNS INT DETERMINISTIC  
RETURN (SELECT VARIABLE_VALUE FROM information_schema.GLOBAL_STATUS WHERE VARIABLE_NAME="wsrep_local_recv_queue")
//

CREATE FUNCTION get_num_active_transactions() RETURNS INT DETERMINISTIC  
RETURN (SELECT COUNT(1) FROM information_schema.INNODB_TRX)
//

CREATE PROCEDURE safe_rsu
(IN alter_statement VARCHAR(4096))
SQL SECURITY INVOKER
BEGIN
	DECLARE _fail BOOL DEFAULT 0;
	DECLARE CONTINUE HANDLER FOR SQLEXCEPTION SET _fail = 1;

	SELECT @@wsrep_desync INTO @old_wsrep_desync;
	SELECT @@wsrep_osu_method INTO @old_wsrep_osu_method;
	SET GLOBAL wsrep_desync=1;
	SET SESSION wsrep_osu_method=RSU;
	{% if mariadb_version | default('10.6') is version('10.6', '>=') %}
		SELECT @@wsrep_mode into @old_wsrep_mode;
		SET GLOBAL wsrep_mode=REPLACE(REPLACE(@old_wsrep_mode, 'DISALLOW_LOCAL_GTID', ''), 'BINLOG_ROW_FORMAT_ONLY', '');
	{% endif %}
	SELECT "Sleeping" AS status, "Waiting 5 seconds for load balancer change to propogate, after we wait for running transactions to finish." AS message, SLEEP(5);
	WHILE get_num_active_transactions() >= 1 DO
	SELECT "Sleeping" AS status, get_num_active_transactions() AS num_active_transactions, SLEEP(1);
	END WHILE;
	SET @alter_statement_compat=(SELECT alter_statement);
	PREPARE rsu_statement FROM @alter_statement_compat;
	SELECT "Executing" AS status, CONCAT("Executing RSU: ", @alter_statement_compat) AS message;
	EXECUTE rsu_statement;
        SELECT IF(_fail, "FAILED", "SUCCESS") AS status, "Regardless of the status, we wait for the node to catch up and clean up afterwards" AS message;

	SELECT "Waiting" AS status, "Checking receive queue size" AS message;
	WHILE get_recv_queue() >= 16 DO
	SELECT "Sleeping" AS status, get_recv_queue() AS recv_queue, SLEEP(1);
	END WHILE;
	SET GLOBAL wsrep_desync=@old_wsrep_desync;
	{% if mariadb_version | default('10.6') is version('10.6', '>=') %}
		SET GLOBAL wsrep_mode=@old_wsrep_mode;
	{% endif %}
	SET SESSION wsrep_osu_method=@old_wsrep_osu_method;
	IF _fail = 1 THEN
		SELECT "Cancelled" AS status, "The ALTER statement failed. We recommend to fix this before executing the statement on other cluster members. Therefore this error message contains a unique string, so automated processes can search for this to raise the error to the end user: ERROR_CODE_500_rFjDjqN2Lrq4tiqeCcVXr7KJPf2wzNZN" AS message;
	ELSE 
		SELECT "Done" AS status;
	END IF;
END
//

DELIMITER ;
