{% if rsu_skip_binary_log == 1 %}
	SET SESSION sql_log_bin=0;
/*
SKIP binary log: "{{ rsu_skip_binary_log }}"
Replica hosts: "{{ rsu_replica_hosts }}"
*/

{% endif %}
CALL safe_rsu({{ rsu_statement | quote }})\G
